################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TaksiVozila/.vs
/TaksiVozila/obj
